//META{"name":"Chat_Text_Bubbles","description":"Stylize your clients chat messages to look like mobile text messages with text bubbles!","author":"maple","version":"1.0"}*//{}
.markup, .accessory :-webkit-any(.embed, .embed-wrapper, .attachment-image) {background: rgba(32,37,45,.4); position: relative; width: auto; min-width: 5px; min-height: 16px; max-width: 86%; padding: 4px !important; margin-bottom: 4px; border-radius: 4px;}
.comment {display: flex; flex-direction: column; margin-top: -16px;}
.message-group .mentioned .message-text {background:transparent !important;}
.message-group .mentioned .message-text:after {border-left: 0; background:transparent;}
.markup, .accessory {margin-left: 14px;}
.reactions {margin-top: -2px; margin-bottom: 4px;}
.message {margin-top: -6px !important}
.embed-wrapper {margin-top: 0;}
.embed.embed-inline {margin: 0 0 4px !important;}
.embed .embed-thumbnail iframe {min-width: 346px; min-height: 260px}
.markup .inline, .markup .highlight {line-height: 24px;}
.markup {padding-top: 4px !important;}
.markup pre {max-width: 99% !important; margin-bottom: 6px;}
.message-group .embed {background-color: rgba(32,37,45,.4) !important;}
.message-text :-webkit-any(.btn-option, .btn-reaction){margin-top: 10px;}
.message-text div {order: 2;}
.message-text .markup {order:1;}
.message .message-text {display: flex; width: auto;}
.message .image, .embed .embed-thumbnail-gifv video {max-width: 100%; height: auto;}
.message.first {margin-top: -15px}
.message.first:before {content:''; display: block; position: relative; width: 8px; height: 12px; top: 38px; left: 6px; background:linear-gradient(40deg, rgba(32,37,45,0) 0%, rgba(32,37,45,0) 42.99%, rgba(32,37,45,.43) 43%, rgba(32,37,45,.43) 100%);}
.message.mentioned .markup:before {content:''; display: block; position: absolute; width: 24px; height: auto; top: 3px; bottom: 3px; right: -12px; background:rgba(20,255,70,.45); border-top-left-radius: 500% 300%; border-bottom-left-radius:500% 300%;pointer-events: none;}

/* light theme */
.theme-light .markup,.theme-light  .accessory :-webkit-any(.embed, .embed-wrapper, .attachment-image) {background: rgba(202,207,215,.4) !important;}
.theme-light .message-group .embed {background-color: rgba(202,207,215,.4) !important;}
.theme-light .message.first:before {background:linear-gradient(40deg, rgba(202,207,215,0) 0%, rgba(202,207,215,0) 42.99%, rgba(202,207,215,.43) 43%, rgba(202,207,215,.43) 100%) !important;}

/* bigger */

:-webkit-any(.theme-light, .theme-dark) .markup, :-webkit-any(.theme-light, .theme-dark) .accessory :-webkit-any(.embed, .embed-wrapper, .attachment-image) { padding: 14px !important; border-radius: 8px;}
:-webkit-any(.theme-light, .theme-dark) .message.first .markup {border-top-left-radius: 8px 3px}
:-webkit-any(.theme-light, .theme-dark) .markup {padding-top: 16px !important;}
:-webkit-any(.theme-light, .theme-dark) .message .attachment-image {margin-top: 6px;}
:-webkit-any(.theme-light, .theme-dark) .message {margin-top: 0px !important;}
