//META{"name":"Chat_Text_Bubbles_Minified","description":"Stylize your clients chat messages to look like mobile text messages with text bubbles! minified: less padding around content","author":"maple","version":"1.15"}*//{}

.chat .message-group:not(.compact) .markup:not(:empty), .chat .accessory :-webkit-any(.embed, .embed-wrapper, .attachment-image, .attachment) {background: rgba(32,37,45,.4); position: relative; width: auto; min-width: 5px; min-height: 16px; max-width: 76%; padding: 4px !important; margin-bottom: 4px; border-radius: 4px;}
.chat .message-group .comment .attachment {margin: 0 0 5px;}
.chat .message-group {padding:10px 0 5px;}
.chat .message-group ~ div:last-child {margin-bottom:15px}
.chat .accessory :-webkit-any(.embed, .attachment-image, canvas) {max-width: 100%;}
.chat .comment {display: flex; flex-direction: column; margin-top: -10px;}
.chat .message-group .mentioned .message-text {background:transparent !important;}
.chat .message-group .mentioned .message-text:after {border-left: 0; background:transparent;}
.chat .markup, .chat .accessory {margin-left: 8px;}
.chat .reactions {margin-top: -2px; margin-bottom: 4px;}
.chat .message:not(.first) {margin-top: -6px !important}
.chat .embed-wrapper {margin-top: 0;}
.chat .embed.embed-inline {margin: 0 0 4px !important;}
.chat .embed .embed-thumbnail iframe {min-width: 346px; min-height: 260px}
.chat .markup .inline, .chat .markup .highlight {line-height: 24px;}
.chat .markup {padding-top: 4px !important;}
.chat .message-group .comment .edited {display: table; margin-left: 0; margin-top: 2px;}
.chat .message-group a {color: #46bae8;}
.chat .edit-container-outer .avatar-large {opacity:0;}
.chat .message-group .comment .attachment-image a {margin: 0;}
.chat .message-group .comment .markup:empty {padding:0;min-width: 0px; top:20px;}
.chat .markup pre {max-width: 99% !important; margin:2px; overflow: hidden;}
.chat .message-group .comment .markup pre code {word-break: break-all; width: calc(100% - 8px);}
.chat .message-group .embed {background-color: rgba(32,37,45,.4) !important;}
.chat .message-text :-webkit-any(.btn-option, .btn-reaction){margin-top: 10px;}
.chat .message-text div {order: 2;}
.chat .message-text .markup {order:1;}
.chat .message .message-text {display: flex; width: auto;}
.chat .message .image, .chat .embed .embed-thumbnail-gifv video {max-width: 100%; height: auto;}
.chat .message-group .comment .message.first {margin-top: 10px}
.chat .message-group:not(.compact) .message.first .markup:before {content:''; display: block; position: absolute; width: 8px; height: 12px; top: 4px; left: -8px; background:linear-gradient(40deg, transparent 43%, rgba(32,37,45,.43) 43%);}
.chat .message-group:not(.compact) .message.mentioned.first .markup:before, .chat .message-group.compact .message.mentioned.first .message-content:before {background:linear-gradient(40deg, transparent 43%, rgba(51, 234, 89,.45) 43%);}
.chat .message-group:not(.compact) .message.mentioned .markup, .message-group.compact .message.mentioned .message-content {background-color:rgba(51, 234, 89,.45) !important; text-shadow: 0 0 3px rgba(0,0,0,.2);}
.app:not(.theme-light) .chat .message-group:not(.compact) .message.mentioned .markup .mention:not(:hover) {color: #acbeff; background-color: rgba(175,209,215,.07) !important;}
.app:not(.theme-light) .chat .message-group:not(.compact) .message.mentioned .markup .mention:hover {color: #fff;}
.chat .message-group .comment .markup code.inline, .chat .message-group .comment .markup pre code {background: rgba(20,20,20,.18) !important;}
.chat .message .mention {border-radius: 2px;}
.system-message {margin-top: 14px;}
.system-message .system-message-icon, .system-message .system-message-content {margin-top: -2px;}

/* compact */
.chat .message-group.compact {margin-left:10px;}
.chat .message-group.compact .message .message-text{margin-left: -20px;}
.chat .message-group.compact .message.first .message-content:before {content:''; display: block; position: absolute; width: 8px; height: 12px; top: 4px; left: -8px; background:linear-gradient(40deg, transparent 43%, rgba(32,37,45,.43) 43%);}
.chat .message-group.compact .accessory :-webkit-any(.embed-wrapper, .embed.embed-inline, .attachment-image, .invite-button, .reactions) {margin-left: 12px !important;}
.chat .message-group.compact .message .message-text .markup {text-indent: 0px; padding-left: 0px; margin-left: 0px; width: 100%; display: flex; margin-left: 12px; margin-top: 0;}
.chat .message-group.compact .message .message-text .markup .timestamp {color: transparent; margin-right: -116px; margin-left: 46px; margin-top: -7px;}
.chat .message-group.compact .message .message-text .markup .username-wrapper {width: 106px; display: flex; flex-flow: column; margin-right: 6px; margin-left: 4px; padding: 4px 6px 0; margin-top: -4px; align-items: flex-end;}
.chat .message-group.compact .message .message-text .markup .bot-tag {order: 3; display: table; margin-top: 4px; margin-right: 4px;}
.chat .message-group.compact .message .message-text .markup .user-name {order: 1; margin-top: -8px; word-break: break-word; text-align: right;}
.chat .message-group.compact .message .message-text .markup .renamer-tag {order: 2; margin-left: 0px; margin-right: 4px; margin-top: 4px; display: table;}
.chat .message-group.compact .message .message-text .markup span:last-of-type {margin-bottom: 4px;}
.chat .message-group.compact .message .message-text .markup .message-content:not(:empty), .message-group.compact .message-content ~ .CollapsibleEmbeds-processed {background: rgba(32,37,45,.4); position: relative; width: auto; min-width: 5px; min-height: 16px; max-width: 65%; padding: 4px !important; margin-bottom: 4px; border-radius: 4px; display: table; word-break: break-word; margin-top: 8px;}
.chat .message-group.compact .emoji {vertical-align: baseline;}
.chat .message-group.compact .system-message {margin-top: 24px;}
.chat .message-group.compact .comment .attachment {margin-left: 12px}

/* light theme */
.theme-light .chat .message-group:not(.compact) .markup, .theme-light .chat .message-group.compact .message .message-content, .theme-light .chat .accessory :-webkit-any(.embed, .embed-wrapper, .attachment-image) {background: rgba(202,207,215,.4) !important;}
.theme-light .chat .message-group .embed {background-color: rgba(202,207,215,.4) !important;}
.theme-light .chat .message-group:not(.compact) .message.first .markup:before, .theme-light .chat .message-group.compact .message.first .message-content:before {background:linear-gradient(40deg, transparent 43%, rgba(202,207,215,.43) 43%) !important;}
.theme-light .chat .message-group:not(.compact) .message.mentioned.first .markup:before, .theme-light .chat .message-group.compact .message.mentioned.first .message-content:before {background:linear-gradient(40deg, transparent 43%, rgba(51, 234, 89,.45) 43%) !important;}
.theme-light .chat .message-group:not(.compact) .message.mentioned .markup, .theme-light .chat .message-group.compact .message.mentioned .message-content {background-color:rgba(51, 234, 89,.45) !important; text-shadow: 0 0 3px transparent;}
.theme-light .chat .message .mention:not(:hover) { background: rgba(241, 243, 251,.5); border-radius: 2px;}
.theme-light .chat .message .mention:hover {color: #fff;}
