//META{"name":"Chat_Text_Bubbles_Minified","description":"Stylize your clients chat messages to look like mobile text messages with text bubbles! minified: less padding around content","author":"maple","version":"1.1"}*//{}
.markup, .accessory :-webkit-any(.embed, .embed-wrapper, .attachment-image) {background: rgba(32,37,45,.4); position: relative; width: auto; min-width: 5px; min-height: 16px; max-width: 86%; padding: 4px !important; margin-bottom: 4px; border-radius: 4px;}
.message-group {padding:10px 0 5px;}
.message-group:last-of-type {padding-bottom:15px}
.accessory :-webkit-any(.embed, .embed-wrapper, .attachment-image) {max-width: 100%;}
.comment {display: flex; flex-direction: column; margin-top: -10px;}
.message-group .mentioned .message-text {background:transparent !important;}
.message-group .mentioned .message-text:after {border-left: 0; background:transparent;}
.markup, .accessory {margin-left: 8px;}
.reactions {margin-top: -2px; margin-bottom: 4px;}
.message:not(.first) {margin-top: -6px !important}
.embed-wrapper {margin-top: 0;}
.embed.embed-inline {margin: 0 0 4px !important;}
.embed .embed-thumbnail iframe {min-width: 346px; min-height: 260px}
.markup .inline, .markup .highlight {line-height: 24px;}
.markup {padding-top: 4px !important;}
.message-group .comment .markup:empty {padding:0 !important;min-width: 0px; top:20px;}
.markup pre {max-width: 99% !important; margin-bottom: 6px;}
.message-group .embed {background-color: rgba(32,37,45,.4) !important;}
.message-text :-webkit-any(.btn-option, .btn-reaction){margin-top: 10px;}
.message-text div {order: 2;}
.message-text .markup {order:1;}
.message .message-text {display: flex; width: auto;}
.message .image, .embed .embed-thumbnail-gifv video {max-width: 100%; height: auto;}
.message.first {margin-top: 10px !important}
.message.first .markup:before {content:''; display: block; position: absolute; width: 8px; height: 12px; top: 4px; left: -8px; background:linear-gradient(40deg, rgba(32,37,45,0) 0%, rgba(32,37,45,0) 42.99%, rgba(32,37,45,.43) 43%, rgba(32,37,45,.43) 100%);}
.message.mentioned.first .markup:before {background:linear-gradient(40deg, rgba(51, 234, 89,0) 0%, rgba(51, 234, 89,0) 42.99%, rgba(51, 234, 89,.45) 43%, rgba(51, 234, 89,.45) 100%);}
.message.mentioned .markup {background-color:rgba(51, 234, 89,.45); text-shadow: 0 0 3px rgba(0,0,0,.2);}
.message.mentioned .markup .mention {color: #acbeff; background-color: rgba(175,209,215,.07) !important;}
.message.mentioned .markup .mention:hover {background-color: rgba(175,209,215,.2) !important;}
.message-group .comment .markup code.inline, .message-group .comment .markup pre code {background: rgba(20,20,20,.18) !important;}

/* light theme */
.theme-light .markup,.theme-light  .accessory :-webkit-any(.embed, .embed-wrapper, .attachment-image) {background: rgba(202,207,215,.4) !important;}
.theme-light .message-group .embed {background-color: rgba(202,207,215,.4) !important;}
.theme-light .message.first .markup:before {background:linear-gradient(40deg, rgba(202,207,215,0) 0%, rgba(202,207,215,0) 42.99%, rgba(202,207,215,.43) 43%, rgba(202,207,215,.43) 100%) !important;}
.theme-light .message.mentioned.first .markup:before {background:linear-gradient(40deg, rgba(51, 234, 89,0) 0%, rgba(51, 234, 89,0) 42.99%, rgba(51, 234, 89,.45) 43%, rgba(51, 234, 89,.45) 100%) !important;}
.theme-light .message.mentioned .markup {background-color:rgba(51, 234, 89,.45) !important; text-shadow: 0 0 3px rgba(0,0,0,0);}
.theme-light .message.mentioned .markup .mention {color: #6f86da; background-color: rgba(175,209,215,.07) !important;}
.theme-light .message.mentioned .markup .mention:hover {background-color: rgba(175,209,215,.2) !important;}
